BasedOnStyle: LLVM

ColumnLimit: 140
PointerAlignment: Left

IndentWidth: 2
TabWidth: 2
UseTab: Never

# AlignConsecutiveAssignments:
#   Enabled: true
#   AcrossEmptyLines: false
#   AcrossComments: false
