BasedOnStyle: LLVM

ColumnLimit: 135
PointerAlignment: Left

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakTemplateDeclarations: Leave 
# AlignConsecutiveAssignments:
#   Enabled: true
#   AcrossEmptyLines: false
#   AcrossComments: false
